.footer {
  background: #000000;
}

.container-footer {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}

.texto-footer {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #cccccc;
}

.contato-footer li {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.1;
  color: #ffffff;
  margin-bottom: 30px;
}

.contato-footer li a {
  color: #ffffff;
}

@media (max-width: 800px) {
  .container-footer {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .contato-footer li {
    font-size: 1.5rem;
  }
}